{
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "proseWrap": "preserve",
    "spaceAfterFunction": true,
    "blankLine": "true",
    "beforeColon": true,
    "afterColon": true,
    "skipBlankLines": true,
    "endOfLine": "auto"
  }